@import 'logo/logo.scss';

.header__inner {
    min-height: 138px;
}

.search__top-1 {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 22.5px;
    line-height: 30px;
    color: #383838;
    padding-bottom: 5px;
}

.search__top-2 {
    font-size: 11.5px;
    line-height: 15px;
    padding-bottom: 16px;
}

.search__bottom input {
    border: none;
    width: 100%;
    height: 42px;
    padding: 0 50px 0 15px;
    background: #eee;
    border-radius: 34px;

    &:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
}

.search__bottom {
    position: relative;

    img {
        position: absolute;
        right: 21px;
        top: 11px;
    }
}

.connect__top {
    text-align: center;
}

.connect__top-common {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}

.connect__top-1 {
    margin-bottom: 4px;

    span {
        font-weight: 400;
    }
}


.connect__top-2 {
    margin-bottom: 18px;

    span {
        text-transform: uppercase;
    }
}

.connect__bottom {
    display: flex;
    justify-content: space-between;
}

.connect__bottom-adress {
    border-left: 4px solid #eee;
    padding: 3px 0 3px 20px;
    width: 185px;
}

.connect__bottom-adress-top {
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 5px;
}

.connect__bottom-adress-bottom {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.basket {
    position: relative;
    right: 15px;
    

    &::after {
        content: '12';
        position: absolute;
        width: 26px;
        height: 26px;
        right: calc(100% - 79px);
        top: -7px;
        background-color: $or;
        font-weight: 600;
        font-size: 13px;
        line-height: 22px;
        border: 2px solid #fff;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        color: #fff;
    }
}