
header.header
    .container
        .row.align-items-center.header__inner
            .col-xl-2.col-md-6.logo
                include ./logo/logo
            .col-xl-3.col-md-6.search
                .search__top
                    .search__top-1 Мебель от производителя
                    .search__top-2 Мы находим именно то, что Вам нужно!
                .search__bottom
                    input(type="text" placeholder="Поиск по сайту")
                    img(src="./img/loupe.png" alt="loupe")
            .col-xl-5.col-md-10.connect
                .connect__top
                    .connect__top-common.connect__top-1 Режим работы:  <span>пн-вс: с 9:00 до 20:00</span>
                    .connect__top-common.connect__top-2 (прием заказов через сайт - <span>круглосуточно</span>)
                .connect__bottom.col-md-10
                    .connect__bottom-adress
                        .connect__bottom-adress-top Тут будет ваш адрес
                        .connect__bottom-adress-bottom 8 999 999 99 99
                    .connect__bottom-adress
                        .connect__bottom-adress-top Тут будет ваш адрес
                        .connect__bottom-adress-bottom 8 999 999 99 99
            .col-xl-1.offset-xl-1.col-md-1.justify-content-center.basket
                img(src="./img/basket.png" alt="")


