.slider,
.slides {
    position: relative;
}

.slides {
    padding-top: 20px;
    margin-right: 1px;
}

.slide__banner {
    width: 100%;
    height: 500px;
    background: url('../img/banner-1.jpg') no-repeat 50% 50%;
    background-size: cover;
}

.col-xl-12 {
    padding-right: 17px;
}

.slide__text {
    position: absolute;
    right: 0;
    bottom: 71px;
    width: 50%;
    max-height: 173px;
    
    background-color: #fff;
    border-radius: 120px 0px 0px 20px;

    div {
        padding-top: 6%;
        padding-right: 6%;
        margin-bottom: 20px;
        font-family: 'Oswald';
        font-weight: 600;
        font-size: 36px;
        line-height: 53px;
        text-align: right;
        
        z-index: 2;
        color: #000;
    }
}

.slick-common {
    position: absolute;
    top: 39%;
    z-index: 5;
    width: 25px;
    height: 25px;
    border: none;

    &:focus {
        outline: none;
    }
}

.slick-prev {
    content: '';
    background: url(../img/arrow-left.png) no-repeat 50% 50%;
    left: 24px;

    &:hover {
        background: url(../img/arrow-left-hover.png) no-repeat 50% 50%;
    }
}

.slick-next {
    content: '';
    background: url(../img/arrow-right.png) no-repeat 50% 50%;
    right: 24px;

    &:hover {
        background: url(../img/arrow-right-hover.png) no-repeat 50% 50%;
    }
}

.slick-dots {
    display: flex;
    justify-content: space-between;
    min-width: 50px;
    position: absolute;
    bottom: 4%;
    left: 47%;
    outline: none;

    li button {
        border-radius: 50%;
        font-size: 0;
        width: 10px;
        height: 16px;
        margin: 5px;
        background-color: #f7f7f7;
        border: 2px solid transparent;
        outline: none;
    }

    li[class="slick-active"] button {
        background-color: #000;
        border: 2px solid $or;
    }
}