.slider
    .slides
        .slide__banner
        .slide__text
            div Доставим в любую точку Новосибирска бесплатно!
    .slides
        .slide__banner
        .slide__text
            div Доставим в любую точку Новосибирска бесплатно!
    .slides
        .slide__banner
        .slide__text
            div Доставим в любую точку Новосибирска бесплатно!