section.catalog-page
    .container
        .row
            .col-xl-3
                .catalog
                    ul
                        li 
                            a(href="#") Прямые диваны
                        li 
                            a(href="#") Угловые диваны
                        li 
                            a(href="#") Модульные диваны
                        li 
                            a(href="#") Кресла и пуфы
                        li 
                            a(href="#") Диван-кровать
                        li 
                            a(href="#") Детские  кроватки
                include ../news/news   
            .col-xl-9
                .row
                    .col-xl-12
                        .path
                            nav
                                .file
                                    a(href="#") Главная 
                                .file /
                                    a(href="#") Каталог 
                                .file /
                                    a(href="#") Прямые диваны   
                .row
                    .col-xl-12
                        .title
                            h2 Прямые диваны
                .row
                    .col-xl-4.col-md-6
                        .card
                            .card__pic.card__pic_1
                            .card__discr
                                p Диван Честер двухместный, серый
                                p 42 900 руб.
                            button.static +
                            button.hovered В корзину
                    .col-xl-4.col-md-6
                        .card
                            .card__pic.card__pic_2
                            .card__discr
                                p Диван Честер двухместный, серый
                                p 42 900 руб.
                            button.static +
                            button.hovered В корзину
                    .col-xl-4.col-md-6
                        .card
                            .card__pic.card__pic_3
                            .card__discr
                                p Диван Честер двухместный, серый
                                p 42 900 руб.
                            button.static +
                            button.hovered В корзину
                    .col-xl-4.col-md-6
                        .card
                            .card__pic.card__pic_4
                            .card__discr
                                p Диван Честер двухместный, серый
                                p 42 900 руб.
                            button.static +
                            button.hovered В корзину
                    .col-xl-4.col-md-6
                        .card
                            .card__pic.card__pic_5
                            .card__discr
                                p Диван Честер двухместный, серый
                                p 42 900 руб.
                            button.static +
                            button.hovered В корзину
                    .col-xl-4.col-md-6
                        .card
                            .card__pic.card__pic_6
                            .card__discr
                                p Диван Честер двухместный, серый
                                p 42 900 руб.
                            button.static +
                            button.hovered В корзину
                        
                        
