.footer {
    background-color: #f7f7f7;
    position: relative;
    &::before {
        content: '';
        width: 100%;
        height: 1px;
        background: rgba(0, 0, 0, 0.05);
        position: absolute;
        bottom: 6em;
        z-index: 11;
    }
}

.footer__inner {
    min-height: 290px;
}

.padding-color {
    background-color: #f7f7f7;
}

.logo__top {
    font-family: 'Oswald';
    font-weight: 300;
    font-size: 62px;
    align-items: center;
    letter-spacing: 0.05em;
}

.logo__bottom {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #2E2E2E;
    position: relative;
    z-index: 0;
    padding-bottom: 30px;

    span {
        color: #fff;
    }

    &::after {
        content: '';
        width: 124px;
        height: 23px;
        border-radius: 24px;
        background-color: $or;
        position: absolute;
        right: 0;
        bottom: 25px;
        z-index: -1;
    }
}

.footer__addres h4,
.footer__contacts h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #2E2E2E;
    font-family: 'Oswald';
    padding: 40px 0 15px;
}

.footer__addres div,
.footer__contacts div {
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 5px;
}

.politica {
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 41px;
}

.politica__left {
    text-decoration: underline;
    color: #76533F;
    padding-left: 15px;
}

.politica__right {
    text-decoration: none;
    color: #444;
}

.subfooter {
    padding: 36px 0 40px;

    a {
        text-decoration: underline;
        color: #76533F;
        padding-right: 15px;
    }
}