footer.footer
    .container
        .footer__inner
            .row.align-items-start.padding-color
                .col-xl-5
                    include ../header/logo/logo
                .col-xl-4
                    .footer__addres
                        h4 Адрес
                        div Тут будет ваш адрес
                        div Тут будет ваш адрес
                .col-xl-3
                    .footer__contacts
                        h4 Контакты
                        div 8 999 999 99 99
                        div 8 999 999 99 99
            .row.politica.padding-color
                .col-xl-9
                    span &#169;2019
                    a(href="#").politica__left Политика конфиденциальности
                .col-xl-3
                    a(href="#").politica__right Info@site.com
            .row.subfooter.padding-color
                .col-xl-12
                    a(href="#") Info@site.com 
                    span электронная почта для обращений с вопросом о своих персональных данных, в том числе об их удалении.

