section.menu
    .container
        .row.align-items-center.menu__inner
            .col-xl-12.menu__content
                .menu__btn
                    i.fas.fa-bars
                nav.nav
                    a(href="#").menu__content-left Каталог
                    a(href="#") О компании
                    a(href="#") Новости
                    a(href="#") О наших салонах
                    a(href="#") Сервис и услуги
                    a(href="#") Акции искидки
                    a(href="#") Как сделать заказ в интернет магазине?
                    a(href="#") Оптовые продажи
                    a(href="#") Вопрос-ответ
                    a(href="#") Контакты