.news-slider
        .news-slider__content
            .news__content-image
                img(src="img/news-1.jpg" alt="news-1.jpg")
            .news__content-text
                a(href="#") Новые ткани в ноябре!
                p Рабочая коллекция тканей постоянно обновляется в соответствии с последними тенденциями моды и дизайна. В этом месяце мы рады представить Вам сразу несколько актуальных новинок!
        .news-slider__content
            .news__content-image
                img(src="img/news-1.jpg" alt="news-1.jpg")
            .news__content-text
                a(href="#") Новые ткани в ноябре!
                p Рабочая коллекция тканей постоянно обновляется в соответствии с последними тенденциями моды и дизайна. В этом месяце мы рады представить Вам сразу несколько актуальных новинок!
        .news-slider__content
            .news__content-image
                img(src="img/news-1.jpg" alt="news-1.jpg")
            .news__content-text
                a(href="#") Новые ткани в ноябре!
                p Рабочая коллекция тканей постоянно обновляется в соответствии с последними тенденциями моды и дизайна. В этом месяце мы рады представить Вам сразу несколько актуальных новинок!