section.sofa-catalog
    .container
        .row.sofa-catalog__inner
            .col-xl-12.sofa-catalog__content
                include slider/slider
                .sofa-catalog__content-text
                    h1 Н1. Заголовок первого уровня. Длинный заголовок типовой страницы, нужен чтобы настроить интерлиньяж
                    p Эта страница создана для демонстрации блоков и элементов, которые используются на сайте, и служит руководством для всех, кто работает над ним. Дизайнеры и технологи отрабатывают здесь стили, чтобы добиться приемлемых результатов в различных сочетаниях блоков и элементов. Контент-менеджеры и редакторы используют страницу в качестве справочника по верстке типовых страниц. Здесь же рассказывается о некоторых общих правилах оформления контента.
                    h2 H2. Многострочный заголовок, длинно длинная длина которого иногда бывает так некстати и переносится на следующую строку
                    p Типовые элементы оформляются в системе администрирования через визуальный редактор «Kontur-CMS». Чтобы контент-менеджеру было легче в них ориентироваться, их количество лучше свести к необходимому минимуму.
                    h3 H3. Делаем заголовки нарочито длинными, чтобы заголовок получился в несколько строк, убедиться в правильном интерлиньяже
                    p Текст состоит из некоторого количества предложений. Одно предложение, даже очень распространённое, сложное, текстом назвать нельзя, поскольку текст можно расчленить на самостоятельные предложения, а части предложения сочетаются по законам синтаксиса сложного предложения, но не текста.
                    h4 H4. В первую очередь нас интересуют интерлиньяж и отступы, но не стоит забывать и про сам заголовок
                    p Типовые элементы оформляются в системе администрирования через визуальный редактор «Kontur-CMS». Чтобы контент-менеджеру было легче в них ориентироваться, их количество лучше свести к необходимому минимуму.
                    h5 H5. Заголовок пятого уровня
                    p Заголовок &#60;h5&#62; используется только для вспомогательной информации, где есть вероятность появления шестого уровня разбивки. Пример — блок «Контактная информация», который внутри дробится по отделам компании.
                    h6 H6. НИЗКОУРОВНЕВЫЙ ЗАГОЛОВОК
                    p Самый «нижний» заголовок &#60;h6&#62; предваряет такие элементы, как «Комментарий» или «Таблица».
